@model ConfigurationApp.Controllers.MyDataModel

<h1>My Data</h1>
<p>Name: @Model.Name</p>
<p>Age: @Model.Age</p>
<p>Location: @Model.Location</p>

<p>Company with max employees: @ViewBag.MaxCompany</p>